table {
    border-collapse: collapse;
}
table,th,td {
    border: 2px solid black;
}
th,td {
    padding: 15px;
}
th {
    text-align: center;
}
a.link:link,a.link:visited {
    text-decoration: none;
    -webkit-transition-duration: 0.3s; /*Safari*/
    transition-duration: 0.3s;
    color: rgb(255, 100, 183);
}
a.link:hover {
    color: rgb(255, 0, 136);
}
a.link:active {
    -webkit-transition-duration: 0.1s; /*Safari*/
    transition-duration: 0.1s;
    color: red;
}
a.button:link,a.button:visited {
    text-decoration: none;
    border-radius: 5px;
    background: rgb(255, 100, 183); 
    color: white;
    padding: 10px;
    -webkit-transition-duration: 0.3s; /*Safari*/
    transition-duration: 0.3s;
}
a.button:hover {
    background: rgb(255, 0, 136);
}
a.button:active {
    -webkit-transition-duration: 0.1s; /*Safari*/
    transition-duration: 0.1s;
    background: red;
}
a.buttonDisabled:link,a.buttonDisabled:visited,a.buttonDisabled:hover,a.buttonDisabled:active {
    text-decoration: none;
    border-radius: 5px;
    background: rgb(255, 100, 183); 
    color: white;
    padding: 10px;
    opacity: 0.5;
    cursor: not-allowed;
}
a.text {
    color: black;
    text-decoration: none;
    cursor: text;
}
.main {
    width: 1000px;
    height: 100px;
    margin: auto;
    text-align: left;
    font-size: large;
}
.mylinks {
    width: 1000px;
    height: 100px;
    margin: auto;
    margin-top: 220px;
    text-align: left;
    font-size: large;
}
.about {
    position: absolute;
    width: 1200px;
    bottom: 0;
    right: 200px;
    text-align: right;
    font-size: medium;
}