.link:link,.link:visited {
    text-decoration: none;
    -webkit-transition-duration: 0.3s; /*Safari*/
    transition-duration: 0.3s;
    color: rgb(255, 100, 183);
}
.link:hover {
    color: rgb(255, 0, 136);
}
.link:active {
    -webkit-transition-duration: 0.1s; /*Safari*/
    transition-duration: 0.1s;
    color: red;
}
.button,.button:visited {
    font-size: large;
    background: rgb(255, 100, 183); 
    color: white;
    -webkit-transition-duration: 0.3s; /*Safari*/
    transition-duration: 0.3s;
}
.button:hover {
    color: white;
    background: rgb(255, 0, 136);
}
.button:active {
    -webkit-transition-duration: 0.1s; /*Safari*/
    transition-duration: 0.1s;
    color: white !important;
    background: red !important;
}
.disabled {
    background: rgb(255, 100, 183) !important;
    color: white !important;
}
.about {
    position: absolute;
    width: 1200px;
    bottom: 0;
    right: 10%;
    text-align: right;
    font-size: medium;
}
#title {
    cursor: help;
}
code {
    display: block;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}
main {
    position: absolute;
    width: 80%;
    height: 100px;
    margin: auto;
    top: 20px;
    left: 10%;
    text-align: left;
    font-size: large;
}